.gallery-tablink {
    border-top: 1px solid #c9c9c9;
    margin-top: 1em;
    justify-content: center;
    column-gap: 1em;
}

.gallery-tablink > a {
    text-decoration: none;
    color: black;
    padding: .5em;
}

.gallery-tablink > .active {
    font-weight: bold;
}

.gallery-tablink > a:hover {
    background-color: #f3f3f3;
}

.gallery-tablink > a:active {
    background-color: #c9c9c9;  
    color: #0099ff;
}


.gallery-grid {
    display: flex;
    justify-content: flex-start;
    column-gap: 5%;
    row-gap: 1em;
    flex-wrap: wrap;
}

.image {
    position: relative;
    width: 30%;
}

.image__description > i {
    color: red;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: rgba(0, 0, 0, 0.6);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}


@media screen and (max-width: 480px) {
   .image {
        width: 100%;
        padding: 20px;
    }

    .image__overlay {
        position: relative;
        justify-content: space-between;
        opacity: 1;
        width: auto;
        height: 0;
        color: black;
        /*font-weight: 100;*/
        flex-direction: row;
        margin-top: 10px;
    }

    .image__title {
        font-size: 1em;
        margin-top: -2em;
    }

    .image__description {
        font-size: 1em;
        margin-top: -1em;
    }

    .image__description > i {
        color: black;
    }
}
